body {
	font-family: arial;
	background-image: url(background.jpg);
}

li {
     display: inline;
     padding-right: 10px;
}

ul a {
	text-decoration: none;
	color: white;
}

.div1 {
	text-align: center; 
	width: 800px;
	padding: auto;
	float: center;
	height: 250px;
	margin: auto;
}

h1 { text-align: center;
	height: 12px;
	color: pink;
    

}

p {text-align: left;
color: white;}

.div2 {
	text-align: left;
	width: 800px;
	margin: auto;

}

ul a:hover {
	background-color: pink;

}

img { 	border-color: white;
}



}

h2 { margin: 10px; }

div li img {
	float: right;
}

h2
{
	color: pink;
	padding: 20px;
}
.h2 
{padding: 250px;

}

h3
{
	color: pink;
	text-align: left;
}

.h3
{
	float: center;
}