body {
	font-family: arial;
	background-image: url(background.jpg);
}

li {
     display: inline;
     padding-right: 10px;
}

ul a {
	text-decoration: none;
	color: white;
}

.div1 {
	text-align: center; 
	width: 800px;
	padding: 10;
	float: center;
	height: 250px;
	margin: auto;
	
}

h1 { text-align: center;
	height: 12px;
	color: pink;
	font-size: 120px;
	text-shadow: 8px 4px 8px white;

    

}

p {text-align: left;}

.div2 {
	text-align: center;
	width: 400px;
	height: 250px;
	margin: auto;
	color: white;


}

ul a:hover {
	background-color: pink;

}

img { 	border-color: white;
}



